
/** FULLSCREEN **/
HTML, BODY, #TGCMAP {
	width: 100%;
}
#TGCMAPDIV, #TGCMAP {
	width:  100%;
	height: 100%;
	min-height: 100%;
}

#TGCMAPDIV {
	position: relative;
}

/** Action Bar **/
tgc-game-action-bar {
	text-align: center;
}
tgc-game-action-bar button.md-button {
	background: #ccc;
	color: black;
}
tgc-game-action-bar-shadow {
	opacity: 0.6;
	background: #000;
	border-top: 3px solid #444;
}
tgc-game-action-bar, tgc-game-action-bar-shadow {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2.5em;
}

/** **/
#tgc-chat-input input {
	padding-left: 7.5em;
	padding-right: 7.5em;
	color: #333;
}

/** **/
#VERSION {
	display: block;
	position: absolute;
	bottom: 1em;
	right: 3em;
	opacity: 0.4137;
}

/** Stats Bar **/
tgc-stat-bar {
	width: 100%;
	min-width: 4em;
	border: 1px solid black;
	display: block;
	position: relative;
	height: 1.5em;
}
tgc-stat-bar label {
	height: 1.5em;
	text-align: left;
	padding-left: 0.5em;
	vertical-align: middle;
}
tgc-stat-bar left {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
tgc-stat-bar right {
	display: block;
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	background: black;
	opacity: 0.5;
}
.hp-bar { background: red; color: black; }
.mp-bar { background: blue; color: black; }
.strength-bar, .fighter-bar { background: red; color: black; }
.dexterity-bar, .ninja-bar { background: black; color: white; }
.wisdom-bar, .priest-bar { background: blue; color: black; }
.intelligence-bar, .wizard-bar { background: green; color: black; }

/** **/
md-dialog-content > p {
	padding: 2em 1.5em 0;
}

/** Spell Dialog **/
.spell-row {
}
.spell-row ol {
	list-style: none;
}
.spell-row li {
	display: inline-block;
}
.selected-rune  {
	background: red!important;
}
.spell-row li button {
	background: gray;
}
